<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ferm|n Dashboard</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>

  <body>
    <script src="/socket.io/socket.io.min.js"></script>

    <script>
      const socket = io()

      socket.on('semaphore-updated', isBusy => {
        if (isBusy) {
          document.querySelector('.toggle').classList.add('active')
        } else {
          document.querySelector('.toggle').classList.remove('active')
        }
      })

      function toggleSemaphore() {
        socket.emit('message', {
          event: 'semaphore',
        })

        document.querySelector('.toggle').classList.toggle('active')
      }

      function updateApp(activeApp) {
        socket.emit('change-app', {
          app: activeApp,
        })

        document.querySelector('.dashboard').classList.toggle('hidden')

        Array.from(document.querySelectorAll('.config')).forEach(element =>
          element.classList.add('hidden'),
        )

        if (activeApp) {
          document
            .querySelector(`.config.${activeApp}`)
            .classList.remove('hidden')
        }
      }
    </script>

    <div class="view-dashboard">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="./assets/logo.svg" alt="logo" />
          </a>
        </div>
      </nav>

      <div class="dashboard">
        <div class="dashboard-header">
          <h1>Hola, empieza a hacer cosicas...</h1>
        </div>
        <div class="dashboard-content">
          <div>
            <h3 class="dashboard-content-title">Listado de cosicas</h3>
            <small>Nuestras cosicas monas</small>
          </div>
          <div class="dashboard-btns">
            <button
              class="btn btn-primary btn-app"
              onclick="updateApp('semaphore')"
            >
              Semaphore
            </button>
            <button
              class="btn btn-primary btn-app"
              onclick="updateApp('pomodoro')"
            >
              Pomodoro
            </button>
            <button
              class="btn btn-primary btn-app"
              onclick="updateApp('calendar')"
            >
              Calendar
            </button>
          </div>
        </div>
      </div>

      <div class="config semaphore hidden">
        <div class="config-container">
          <div class="config-header">
            <button class="btn" onclick="updateApp()">
              <img src="./assets/ic_round-arrow-back.svg" alt="back-btn" />
            </button>
            <h1>Mi aplicación tó guapa -> DnD</h1>
          </div>

          <div class="config-content">
            <button
              class="btn-toggle toggle"
              onclick="toggleSemaphore()"
            ></button>
          </div>
        </div>
      </div>

      <div class="config pomodoro hidden">
        <div class="config-container">
          <div class="config-header">
            <button class="btn" onclick="updateApp()">
              <img src="./assets/ic_round-arrow-back.svg" alt="back-btn" />
            </button>
            <h1>Mi aplicación tó guapa -> Pomodoro</h1>
          </div>
        </div>
      </div>

      <div class="config calendar hidden">
        <div class="config-container">
          <div class="config-header">
            <button class="btn" onclick="updateApp()">
              <img src="./assets/ic_round-arrow-back.svg" alt="back-btn" />
            </button>
            <h1>Mi aplicación tó guapa -> Calendar</h1>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="dashboard">
      <button onclick="updateApp('semaphore')">Semaphore</button>
      <button onclick="updateApp('pomodoro')">Pomodoro</button>
      <button onclick="updateApp('calendar')">Calendar</button>
    </div> -->

    <!-- <div class="config semaphore hidden">
      <button onclick="updateApp()">Volver</button>
      <button class="toggle active" onclick="toggleSemaphore()">Toggle</button>
    </div>

    <div class="config pomodoro hidden">
      <button onclick="updateApp()">Volver</button>
    </div>

    <div class="config calendar hidden">
      <button onclick="updateApp()">Volver</button>
    </div> -->
  </body>
</html>
