<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>

  <body>
    <script src="/socket.io/socket.io.js"></script>

    <script>
      const socket = io()

      socket.on('semaphore-updated', isBusy => {
        if (isBusy) {
          document.querySelector('.toggle').classList.add('active')
        } else {
          document.querySelector('.toggle').classList.remove('active')
        }
      })

      function toggleSemaphore() {
        socket.emit('message', {
          event: 'semaphore',
        })

        document.querySelector('.toggle').classList.toggle('active')
      }

      function updateApp(activeApp) {
        socket.emit('change-app', {
          app: activeApp,
        })

        document.querySelector('.dashboard').classList.toggle('hidden')
        document.querySelector('.config').classList.toggle('hidden')
      }
    </script>

    <div class="dashboard">
      <button onclick="updateApp('semaphore')">Semaphore</button>
    </div>

    <div class="config hidden">
      <button onclick="updateApp()">Volver</button>
      <button class="toggle active" onclick="toggleSemaphore()">Toggle</button>
    </div>
  </body>
</html>
